<!DOCTYPE html>
<html class="has-navbar-fixed-top has-navbar-fixed-bottom">
  <head>
    <title>NE Campground Reviews</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Merienda+One&family=Merriweather:ital,wght@0,400;0,900;1,400;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e961c52d73.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img class="logo" src="https://ne-campground-reviews.s3.amazonaws.com/Logo-color.png">
        </a>
        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu" id="navMenu">
        <div class="navbar-end">
          <a class="navbar-item nav-links" href= "/">
            HOME
          </a>
          <a class="navbar-item nav-links" href= "/about">
            ABOUT US
          </a>
          <a class="navbar-item nav-links" href= "/camper">
            OUR CAMPER
          </a>
          <a class="navbar-item nav-links" href= "/contact">
            CONTACT
          </a>

        </div>
      </div>
    </nav>

    <%- flash.each do |key, value| -%>
      <div class="mt-6 p-sm flash flash-<%= key %>">
        <%= value %>
      </div>
    <%- end -%>

    <%= yield %>

    <footer class="has-text-centered footer">
      <h4 class="is-size-4">&copy; 2021 | Northeast Campground Reviews</h4>
      <%- if current_user -%>
        <%= link_to 'Admin Profile ', edit_user_registration_path, class: 'footer-item' %>
        | 
        <%= link_to ' Admin Logout', destroy_user_session_path, method: :delete, class: 'footer-item' %>
      <%- else -%>
        <%= link_to 'Admin Login', new_user_session_path, class: 'footer-item' %>
      <%- end -%>
    </footer>

    <%- if Rails.env.development? || Rails.env.test? -%> 
      <%= javascript_tag do %>
        window.railsEnv = '<%= Rails.env %>'
      <%- end -%>
    <%- end -%>
    <%= javascript_pack_tag 'index' %>
    <%= javascript_pack_tag 'lightbox' %>
  </body>
</html>
